<div class="container-fluid g-0">
  <div class="row g-0">    
    <div class="col-9">
      <div class="nav-menu">
        <h2 class="my-2 px-2">YELLS</h2>
      </div>
      <div class="main-content">
        <div class="yell-form-container">
          <p class="grey-color">Yell at someone because of something!</p>
          <div class="yell-form">
            <%= render "yells_form" %>
          </div>
        </div>
        <div class="yell-list">
          <p class="yells-count"><%= @yells.count %>News Yells</p>
          <% @yells.each do |yell| %>
            <p><%= yell.author.photo %></p>
            <p><%= yell.author.full_name %></p>
            <p><%= yell.author.username %></p>
            <p><%= yell.text %></p>
          <% end %>  
        </div>
      </div>
    </div>
    <div class="col-3">
      <div>
        <span>WHO TO FOLLOW<span>
      </div> 
      <div class="right-content">
        <div class="to-follow-list">
          <% Following.not_followed_by(current_user).each do |followed| %>
            <p><%= User.find(followed.followed_id).photo %></p>
            <p><%= User.find(followed.followed_id).full_name %></p>
            <p><%= User.find(followed.followed_id).username %></p>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>