<div class="container-fluid g-0">
  <div class="row g-0">    
    <div class="col-9">
      <p class="banner-picture"></p>
      <div class="nav-menu">
        <h2 class="my-2 px-2">YELLS</h2>
      </div>
      <div class="main-content">
        <div class="yell-list">
          <p class="yells-count"><%= @user.yells.count %> New Yells</p>
          <% @user.yells.each do |yell| %>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <div>
                  <%= link_to @user do %>
                    <p class="yell-picture"><%= yell.author.photo %></p>
                  <% end %>
                </div>
                <div class="d-flex flex-column my-auto">
                  <p class="mb-0"><%= yell.author.full_name %></p>
                  <p class="mb-0"><%= yell.text %></p>
                </div>
              </div>
              <div class="my-auto">
                <%= remove_yell(@user, yell) %>
              </div>
            </div>
          <% end %>  
        </div>
      </div>
    </div>
    <div class="col-3 follow-container">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center my-3">
          <div class="d-flex align-items-center">
            <%= interact_buttons(@user) %>
          </div>
          <p class="user-image"></p>
          <div class="d-flex flex-column align-items-center">
            <%= upload_pictures(@user) %>
          </div>
        </div> 
        <div class="profile-names">
          <p class="user-full_name text-center"><%= @user.full_name %></p>
          <p class="user-username text-center"><%= @user.username %></p>
        </div>
      </div>  
      <div class="d-flex user-status">
        <div>
          
        </div>
        <div>

        </div>

        <div>
        </div>
      </div>
      <div class="right-content text-center">
        <div class="to-follow-list">
          <div>
            <h3>FOLLOWED BY</h3>
          </div>
          <% @user.followeds.includes(:follower).each do |f| %>
            <div class='d-flex'>
              <p class='follow-picture'></p>
              <div class='d-flex flex-column my-auto'>
                <p><%= f.follower.full_name %></p>
              </div>
            </div>
          <% end %>  
        </div>
      </div>
    </div>
</div>